.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  text-align: center;
  font-family: 'noto sans jp';
}

.span {
  display: block;
  font-size: calc(3px + 2vmin);
  color : rgba(33, 37, 41, 0.8);
}

.text {
  font-family: 'noto sans jp';
  font-size: calc(7px + 2vmin);
  padding: 0.1em;
  color: black;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.App-link {
  color: #e2f9ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
