img {
    /* position: relative; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* z-index: -1; */
}

.slideText  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 0.5rem #000;
    /* z-index: 1; */
}

.homeIcon {
    fill: #fff;
    background-color: rgba(255, 255, 255, 0.3); /*背景を半透過*/
    border-radius: 50%;
    position: absolute;
      /* top: 50%; */
    /* left: 30%; 中央からやや左に配置 */
    /* transform: translate(-50%, -50%); */
  }
  
  @media  screen and (min-width: 100px) {
    .homeIcon {
      max-width: 130px;
      top: 8%;
      left: 10%;
    }
  }
  @media screen and (min-width: 370px) {
    .homeIcon {
      max-width: 130px;
      top: 10%;
      left: 10%;
    }
  }
  @media screen and (min-width: 400px) {
    .homeIcon {
      max-width: 150px;
      top: 10%;
    }
  }
  @media screen and (min-width: 500px) {
    .homeIcon {
      max-width: 200px;
      top : 15%;
    }
  }
  @media screen and (min-width: 768px) {
    .homeIcon {
      max-width: 300px;
      left: 15%;
    }
  }
  @media screen and (min-width: 1024px) {
    .homeIcon {
      max-width: 400px;
      top: 10%;
    }
  }
  @media screen and (min-width: 1280px) {
    .homeIcon {
      max-width: 500px;
      top: 15%;
    }
  }
  @media screen and (min-width: 1440px) {
    .homeIcon {
      max-width: 500px;
      left: 20%;
    }
  }
  