.main {
  /* min-height: 100vh; */
  /* padding: 4rem 0; */
  /* padding: 0 2rem; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "noto sans jp";
}

.span {
  display: block;
  font-size: calc(3px + 3vmin);
  color: rgba(33, 37, 41, 0.8);
}

.image {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

@media screen and (min-width: 900px) {
  .image {
    width: 80%;
  }
}
